#table-container {
    overflow: auto;
}

table {
    margin: 3% auto auto auto;
    width: 70%;
}

.mat-row {
    height: auto;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}

p {
    text-align: center;
}

.card-section {
    margin: 10%;
    padding: 5%;
}

.banner {
    background-image: url('../../assets/banner.png');
    background-attachment: fixed;
    background-size: 100px; /* Optional: Adjust the background image size */
    height: 100vh;
  }